.bold {
    font-weight: bold;
}

.gray {
    color: #918E9B;
}

.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
    position: relative;
}

.cardimage {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

/* ADD */
.cardtitle {
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardstats {
    display: flex;
    align-items: center;
}

.cardstar {
    height: 14px;
}

/* ADD */
.cardprice {
    margin-top: auto;
}

.cardbadge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}


@media only screen and (max-width: 600px) {


    
}