* {
    box-sizing: border-box;

}

.cardslistTravel {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8rem;
    /* overflow-x: auto; */
}



@media only screen and (max-width: 600px) {


    
}