.WelcomeMSG{
padding: 1rem;
}

/* .JapanIMG{
    height: 10rem;
    border-radius: 1rem;
}

.MaldivesIMG{
    height: 10rem;
    border-radius: 1rem;
}

.DubaiIMG{
    height: 10rem;
    border-radius: 1rem;
} */