.navbar {
    margin: auto;
    font-family: "Edu AU VIC WA NT Hand";
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(132, 206, 255);
    box-shadow: 1px 1px 10px 0px rgb(124, 124, 124);
}

.globeimg {
    height: 100%;
    width: 8rem;
}

.BackOnePageFixedLocation{
    position:fixed;
    top: 3.2rem;
    left: 3.5rem;
     font-family: "Inconsolata", monospace;
}

h1 {
    margin: 0;
}

.NextPageFixedLocation {
position:fixed;
top: 3.2rem;
right: 3.5rem;
font-family: "Inconsolata", monospace;
}


@media only screen and (max-width: 600px) {
  /* Mobile-specific styles go here */
.navbar {
    margin: auto;
    font-family: "Edu AU VIC WA NT Hand";
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(132, 206, 255);
    box-shadow: 1px 1px 10px 0px rgb(124, 124, 124);
}

.globeimg {
    height: 100%;
    width: 6rem;
}

.BackOnePageFixedLocation{
    position:fixed;
    top: 0.1rem;
    left: 0.5rem;
     font-family: "Inconsolata", monospace;
}

.NextPageFixedLocation {
position:fixed;
top: 0.1rem;
right: 0.5rem;
font-family: "Inconsolata", monospace;
}

h1 {
    margin: 0;
}

}
